<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>euVWA - Version Vulnerable</title>
</head>
<body>
    <h1>Bienvenido a euVWA - Version Vulnerable</h1>
    <p>Esta es una aplicación web vulnerable diseñada para propósitos educativos. Aquí puedes aprender sobre vulnerabilidades comunes en aplicaciones web y cómo protegerte contra ellas.</p>
    <ul>
        <li><a href="/login">Pagina de login vulnerable</a></li>
        <li><a href="/xss-reflected">XSS Reflejado</a></li>
        <li><a href="/xss-stored">XSS Almacenado</a></li>
        <li><a href="/command-injection">Inyección de Comandos</a></li>
        <li><a href="/file-upload">Vulnerabilidad de Carga de Archivos</a></li>
        <li><a href="/sensitive-data">Exposición de Datos Sensibles</a></li>
        <li><a href="/misconfiguration">Mala Configuración de Seguridad</a></li>
        <li><a href="/admin?role=admin">Broken Authentication</a></li>
    </ul>
</body>
</html>