<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Vulnerable</title>
</head>
<body>
    <h1>Login Vulnerable - SQL Injection</h1> 
    <form method="POST" action="/login">
        <label>Usuario:</label>
        <input type="text" name="username">

        <br><br>

        <label>Constraseña:</label>
        <input type="password" name="password">
        <br><br>
        <button type="submit">Entrar</button>
    </form>  

    <% if (typeof message !== 'underfined') { %>
        <p><%= message %></p>
    <% } %>

    <% if (typeof query !== 'underfined') { %>
        <h3>Consulta SQL ejecutada:</h3>
        <pre><%= query %></pre>
        <% } %>

        <p><a href="/">Volver al inicio</a></p>
</body>
</html>